body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #343a40;
  padding: 10px;
  position: fixed;
}

.content-wrapper {
  padding: 50px;
  width: calc(100% - 250px);
  margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.grid-container > .card {
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 254, 254, 0.932);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #383838;
  padding: 20px;
  width: 100%;
  height: 500px;
}

.grid-container > .card.full-width {
  grid-column: span 2;
  width: 100%;
  height: 500px;
}

.chart-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.pie-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card.pie-chart .card-body {
  flex: 1;
  padding: 20px;
}

.card-body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pie-chart-legend {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}
